doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title demo
    link(rel='stylesheet', type='text/css', href='app.css')
  body
    #app
    script(src='./main.js')

