#demo, #navbar, #information {
  background: white;
  width: 50vw;
}

button {
  border: none;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.pic {
  background:center center / cover
}

body {
  background-color: rgba(0, 0, 0, .1);
  margin: 0;
  overflow-y:auto;
}

#demo {
  height: 100vh;
}

#navbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0.5em 10%;
}

#navbar .icon {
  width: 20px;
  height: 20px;
}

.icon.menu   { background-image: url(./res/menuicon.png) }
.icon.person { background-image: url(./res/personicon.png) }

#information {
  height: 100px;
  overflow: hidden;
}

#information > div {
  box-sizing: border-box;
  height: 80px;
  opacity: 0;
  padding: 10px 10% 0;
  float:left;
  width: 100%;
}

#information > div:first-child {
  opacity: 1;
}

.title {
  float: left;
}

.price {
  float: right;
  margin-top: 10px;
}

#information h2, #information h5 {
  line-height: 10px;
}

#items {
  height: 60%;
}

#items > img {
  border-radius: 15px;
  box-shadow: 5px 5px 20px white;
  position: absolute;
}

.shopcar {
  background-image: url('res/shopping.png');
  float: right;
  margin-right: 10%;
  margin-top: 3%;
  width: 6vw;
  height: 6vw;
}

#add {
  color: green;
  margin-left: 40%;
  opacity: 0;
}
#reference {
  background: url('./res/example.gif') center / cover;
  bottom: 0;
  padding: .5em;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  width: 30vw;
}
