html
    head
        title pug compiling demo
        link(rel='stylesheet', href='./app.css', type='text/css')
    body
        h1 Pug examples
        div.container
            p UIDD is a good course to take
            img(src='https://cdn-images-1.medium.com/max/2600/1*pofor4p-ig072eaChITOYQ.jpeg')


