html
  head
    title chat demo
    style(type='text/css')
      |#content {
      |  height: 80vh;
      |  overflow-y: auto;
      |}
      |body {
      |  width: 40%;
      |  margin: 0 auto;
      |}
  body
    div#content
    input(type='text')
    button(type='submit') Submit
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='chat.js')



// vi:et:sw=2:ts=2

