// step 2 : add style sheet of button
// Use variable to change background color of button.
=buttonStyle($color)
  background-color: $color
  color: white
  padding: 15px

#container
  display: flex
  justify-content: space-around
  div:nth-child(1)
    +buttonStyle(red)
  div:nth-child(2)
    +buttonStyle(green)
  div:nth-child(3)
    +buttonStyle(blue)
