doctype html
html
  head
    title preprocessor exercise
    link(href="./app.css",rel="stylesheet",type="text/css")
    style(type='text/css'). // Step 1: watch out the trailing dot
      .firstPug  {
        color: grey;
        text-align: center;
      }
  body
    h1.firstPug This is my first pug!
    // Step 1 code goes here
    #container
      // Step 1: pug provides loop
      - for (let i = 0; i < 3; i++)
        button Click me
