doctype html
html
  head
    title webpack demo
    style(type='text/css')
      |#firstPug  {
      |  color: red;
      |  text-align: center;
      |}
  body
    h1#firstPug Hello world!
    #container
      - for (let i = 0; i < 3; i++)
        #button Click me
    script(src="./app.js")
