body {
  background: rgba(0, 0, 0, .1);
  /* Step 1: reset margin is a good practice for consistency across browsers. */
  margin: 0;
}

#navbar, #banner, #main, #bottom {
  background-color: white;
  /* Step 2:
   * Input an appropriate content width
   * Watch out the unit, `%`, and google `css unit` for more
   * Why both `max-width` and `width` are used?
   */
  max-width: [content width];
  width: 100%;
}

#navbar {
  line-height: 0;
  padding: 5px 0;
  top: 0;
  /* Step 6: Change position to "fixed" */
}

i.avatar, i.icon {
  background-position: center;
  display: [correct display];
  /* Step 3:
   * Input the correct display to make `height` work
   * Google `css dispaly` for more
   */
  height: 30px;
}

i.avatar {
  background-size: cover;
  border-radius: 15px;
  width: 30px;
}

i.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
}

.right {
  /* Step 4:
   * Change `static` to the correct value to make the `right` property work
   * Google `css position` for more
   */
  position: static;
  right: 0.5em;
}

.avatar.dirty { background-image: url(./res/dirty.jpg) }
.icon.arrow   { background-image: url(./res/angle-left.jpg) }
.icon.dot     { background-image: url(./res/dot.svg) }
.icon.submit  { background-image: url(./res/external-link.svg) }

#banner {
  /* Step 5:
   * Try different `[position]` and `[size]` and see how banner changes
   * Google `css background-position` and `css background-size` for more
   */
  background: url(./res/main.jpg) [position] / [size];
  /* Step 6: Change position to "fixed" */
  top: 40px;
  height: 250px;
}

#main {
  box-sizing: border-box;
  padding: 1px 4% 5vh;
  position: relative;
  top: 290px;
  /* Step 8: Input the correct z-index to adjust the position*/
  z-index: [correct z-index];
}

.info {
  /* Step 7: Input the correct display and justify-content to make flexbox */
  display: [correct display];
  justify-content: [correct justify-content];
  margin: 0 0 5% 0;
}

h1 {
  font-size: 30px;
}

p {
  line-height: 30px;
}

#bottom {
  bottom: 0;
  display: inline-flex;
  position: fixed;
}

#reference {
  background: url('./res/detail-2.gif') center / cover;
  bottom: 0;
  padding: .5em;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  width: 40vw;
}
