body {
  background: rgba(0, 0, 0, .1);
  margin: 0; /* Step 1: reset margin is a good practice for consistency across browsers. */
}

#navbar, #banner, #main, #bottom {
  background-color: white;
  max-width: [content width]; /* Step 2: input an appropriate content width */
  width: 100%; /* Step 2: watch out the unit, `%`, and google `css unit` for more */
  /* Step 2: why both `max-width` and `width` are used? */
  /**/
}

#navbar {
  line-height: 0;
  padding: 5px 0;
  top: 0;
}

i.avatar, i.icon {
  background-position: center;
  display: [correct display]; /* Step 3: input the correct display to make `height` work */
  /* Step 3: Google `css dispaly` for more */
  height: 30px;
}

i.avatar {
  background-size: cover;
  border-radius: 15px;
  width: 30px;
}

i.icon {
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
}

.right {
  position: static; /* Step 4: change `static` to the correct value to make the `right` property work */
  /* Step 4: Google `css position` for more */
  right: 0.5em;
}

.avatar.dirty { background-image: url(./res/dirty.jpg) }
.icon.arrow   { background-image: url(./res/angle-left.jpg) }
.icon.dot     { background-image: url(./res/dot.svg) }
.icon.submit  { background-image: url(./res/external-link.svg) }

#banner {
  background: url(./res/main.jpg) [position] / [size]; /* Step 5: try different `[position]` and `[size]` and see how banner changes */
  /* Step 5: Google `css background-position` and `css background-size` for more */
  top: 40px;
  height: 250px;
}

#main {
  box-sizing: border-box;
  padding: 1px 4% 5vh;
  position: relative;
  top: 290px;
}

.info {
  /* Step 6: Learn flexbox for arranging items */
  margin: 0 0 5% 0;
}

h1 {
  font-size: 30px;
}

p {
  line-height: 30px;
}

#bottom {
  bottom: 0;
  display: inline-flex;
  position: fixed;
}

#reference {
  background: url('./res/detail-2.gif') center / cover;
  bottom: 0;
  padding: .5em;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  width: 40vw;
}
